<!-- app/views/tutors/availability.html.erb -->

<p style="color: green"><%= notice %></p>

<h1><%= @tutor.name %>'s Availabilities</h1>

<table class="table">
  <thead>
    <th>Day</th>
    <th>Start Time</th>
    <th>End Time</th>
  </thead>
  <tbody>
    <% @availabilities.each do |availability| %>
      <tr>
        <td><%= availability.day %></td>
        <td><%= availability.start_time.strftime("%I:%M %p") %></td>
        <td><%= availability.end_time.strftime("%I:%M %p") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Back to Tutors", tutors_path, class: 'btn btn-primary' %>
