<p style="color: green"><%= notice %></p>

<h1>Tutors</h1>

<table class="table">
<thead>
  <th>Name</th>
  <th>Email</th>
  <th>Bio</th>
  <th>Courses</th>
  <th></th>
</thead>
<tbody>
<% @tutors.each do |tutor| %>
  <tr>
    <td><%= tutor.name %></td>C
    <td><%= tutor.email %></td>
    <td><%= tutor.bio %></td>
    <td><%= tutor.courses.map {|c| "#{c.prefix}#{c.num}: #{c.title}" }%></td>
    <td>
      <%= link_to "Edit", edit_tutor_path(tutor), class: 'btn btn-success' %>
      <%= link_to "See more", tutor_path(tutor), class: 'btn btn-primary' %>
    </td>
  </tr>
<% end %>
</tbody>
</table>

<div id="tutors">
  <% @tutors.each do |tutor| %>
    <%= render tutor %>
    <p>
      <%= link_to "Show this tutor", tutor %>
    </p>
  <% end %>
</div>

<%= link_to "New tutor", new_tutor_path %>
