<div id="clearance" class="password-reset container mt-5 p-4" style="background-color: #f5f5f5; border: 1px solid #dddddd; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); padding: 20px;">
  <h2 style="color: black; font-family: 'Arial', sans-serif; font-size: 24px; font-weight: bold;"><%= t(".title") %></h2>

  <p style="color: black; font-family: 'Arial', sans-serif; font-size: 16px;"><%= t(".description") %></p>

  <%= form_for :password_reset,
        url: [@user, :password, token: @user.confirmation_token],
        html: { method: :put } do |form| %>
    <div class="password-field">
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>

    <div class="submit-field">
      <%= form.submit %>
    </div>
  <% end %>
</div>

