<div id="<%= dom_id course %>">
  <p>
    <strong>Prefix:</strong>
    <%= course.prefix %>
  </p>

  <p>
    <strong>Num:</strong>
    <%= course.num %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= course.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= course.description %>
  </p>

</div>
