<%= form_with(model: course) do |form| %>
  <% if course.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :prefix, style: "display: block", class: "form-label fw-semibold fs-5" %>
    <%= form.text_field :prefix, class: "form-control border border-secondary-subtle" %>
  </div>

  <div class="mb-3">
    <%= form.label :num, style: "display: block", class: "form-label fw-semibold fs-5" %>
    <%= form.number_field :num, class: "form-control border border-secondary-subtle" %>
  </div>

  <div class="mb-3">
    <%= form.label :title, style: "display: block", class: "form-label fw-semibold fs-5" %>
    <%= form.text_field :title, class: "form-control border border-secondary-subtle" %>
  </div>

  <div class="mb-4">
    <%= form.label :description, style: "display: block", class: "form-label fw-semibold fs-5" %>
    <%= form.text_area :description, class: "form-control border border-secondary-subtle", rows: 5 %>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary fs-4 fw-semibold"%>
  </div>
<% end %>
