<div class="container">
  <p style="color: green"><%= notice %></p>

  <h1>Courses</h1>

  <table class="table">
    <thead>
      <th>Prefix</th>
      <th>Number</th>
      <th>Title</th>
      <th>Assigned Tutors</th>
      <th></th>
    </thead>
    <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.prefix %></td>
        <td><%= course.num %></td>
        <td><%= course.title %></td>
        <td><%= course.tutors.map {|t| t.name } %></td>
        <td><%= link_to "See more", course_path(course) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  
  <div id="courses">
    <% @courses.each do |course| %>
      <%= render course %>
      <p>
        <%= link_to "Show this course", course %>
      </p>
    <% end %>
  </div>

  <%= link_to "New course", new_course_path %>

</div>
