<div id="<%= dom_id appointment %>">
  <p>
    <strong>Availability:</strong>
    <%= appointment.availability_id %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= appointment.student_id %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= appointment.kind %>
  </p>

  <p>
    <strong>On date:</strong>
    <%= appointment.on_date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= appointment.description %>
  </p>

</div>
