<div id="<%= dom_id availability %>">
  <p>
    <strong>Tutor:</strong>
    <%= availability.tutor_id %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= availability.day %>
  </p>

  <p>
    <strong>Starts at:</strong>
    <%= availability.starts_at %>
  </p>

  <p>
    <strong>Ends at:</strong>
    <%= availability.ends_at %>
  </p>

</div>
